// *************************************
//
// Article
// -> An article module
//
// *************************************

.Article {
  margin-top: rem(40px);
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Inverted ----- //

.Article--inverted {
  margin-top: rem(10px);

  .Article-heading {
    color: $c-white;
  }

  .Article-tagline {
    color: $c-white;
  }

  .Article-content {
    color: shade($c-blue, 50%);
    font-weight: bold;  
  }
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Title ----- //



.Article-heading {
  text-transform: uppercase;
  margin: 0;
}

// ----- Subtitle ----- //

.Article-tagline {
  margin: 0;
  font-weight: bold;
}

// ----- Content ----- //
#content {
  @include outer-container;
  max-width: 61.25rem;
  margin: -10px auto 0;
  min-height: 200px;
  overflow: hidden;
  padding: 0 25px;

  p {
    font-size: 80%;
  }

  a {
    font-size: 80%;
  }

}

.home #content {
  margin: 35px auto 0;
}


// ----- sidebar + Content ----- //
.content-sidebar {
  @include span-columns(8);
}


.rightsidebar {
  @include span-columns(4);
  float: right;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 0px 0px 6px 3px #000;
  margin-bottom: 10px;
  background-color: $c-white;
}


select {
  color: $c-black;
}