// *************************************
//
// Article
// -> An article module
//
// *************************************

.Article {
  margin-top: rem(40px);
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
}

.bigsize {
  font-size: 16px !important;
  font-family: Arial;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
}

.bigsize p {
  font-size: 16px;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName
// -------------------------------------
// RICH REVIEWS
// -------------------------------------

.testimonial_group .testimonial {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  background: white;
  margin-right: 2%;
  padding: 10px;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.22);
-moz-box-shadow:    0px 7px 5px 0px rgba(0, 0, 0, 0.22);
box-shadow:         0px 7px 5px 0px rgba(0, 0, 0, 0.22);
  


}
.testimonial_group .testimonial:nth-of-type(3n+3) {
    margin-right: 0;
}

.rr_review_form table {
  margin-top: 35px;
  border:0;
}

.rr_title {
  padding:0;
  margin:0;
}

.drop_cap {
  display: none;
}

.rr_form_heading {
  font-weight: bold;
}

.rr_review_name {
  float: right;
}

.rr_form_table {
  margin-top: 0;
}


.allesrij {
  list-style-type: none;
  font-size: 14px;
}





// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Inverted ----- //

.Article--inverted {
  margin-top: rem(10px);

  .Article-heading {
    color: $c-white;
  }

  .Article-tagline {
    color: $c-white;
  }

  .Article-content {
    color: shade($c-red, 50%);
    font-weight: bold;  
  }
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Title ----- //


.Article-heading {
  text-transform: uppercase;
  margin: 0;
}

// ----- Subtitle ----- //

.Article-tagline {
  margin: 0;
  font-weight: bold;
}

// ----- Content ----- //
#content {
  //@include outer-container;
 // margin: -10px 20px 0;
  min-height: 200px;
  overflow: hidden;
  //padding: 0 25px;

  .editor-content {
    margin-bottom: 35px;

  }
 
}


.view-snippet {
  position: absolute;
  bottom: 37px;
  right: 35px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 40px;
}

.outofFive {
  position: absolute;
  bottom: 22px;
  right: 33px;
  padding: 3px;
  border-radius: 3px;
  background: white;
  font-size: 14px;
  font-weight: bold;

}

.box-relative {
  position: relative;
}

.grid-70 {
  width: 70%;
  float: left;
}

.grid-30 {
  width: 30%;
  float: left;
}

// ----- sidebar + Content ----- //
.content-sidebar {
  @include span-columns(8);
}


.rightsidebar {
  @include span-columns(4);
  float: right;
}

.container {
//  max-width: 1024px;
//  margin: 0 auto;
//  margin-bottom: 10px;
  @include outer-container;
  padding-left: $l-insideGutter;
  padding-right: $l-insideGutter;
}


select {
  color: $c-black;
}

.inhoud {
  font-size: 16px;
}