// *************************************
//
// Article
// -> An article module
//
// *************************************

.Article {
  margin-top: rem(40px);
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
}

.bigsize {
  font-size: 16px !important;
  font-family: Arial;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
}

.bigsize p {
  font-size: 16px;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Inverted ----- //

.Article--inverted {
  margin-top: rem(10px);

  .Article-heading {
    color: $c-white;
  }

  .Article-tagline {
    color: $c-white;
  }

  .Article-content {
    color: shade($c-red, 50%);
    font-weight: bold;  
  }
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Title ----- //


.Article-heading {
  text-transform: uppercase;
  margin: 0;
}

// ----- Subtitle ----- //

.Article-tagline {
  margin: 0;
  font-weight: bold;
}

// ----- Content ----- //
#content {
  //@include outer-container;
  margin: -10px 20px 0;
  min-height: 200px;
  overflow: hidden;
  padding: 0 25px;

  .editor-content {
    margin-bottom: 35px;

  }
 
}

.grid-70 {
  width: 70%;
  float: left;
}

.grid-30 {
  width: 30%;
  float: left;
}

// ----- sidebar + Content ----- //
.content-sidebar {
  @include span-columns(8);
}


.rightsidebar {
  @include span-columns(4);
  float: right;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 10px;
}


select {
  color: $c-black;
}