.sidebar {
	margin-left: 4%;
	margin-top: 20px;

	.box {
	border-radius: 5px;
	//background: #d6d6d6;
	@include linear-gradient(120deg, 
                          lighten($bgGradientDark, 10%) 0%, 
                          $bgGradientLight 30%,
                          $bgGradientLight 70%,
                          lighten($bgGradientDark, 10%) 100%
  	);
	//margin-right: 10px;
	padding: 20px;
	margin-bottom: 10px;
	font-size: 16px;
	/*-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.46);
-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.46);
box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.46);*/
	}

	.title {
		font-weight: bold;
		font-size: 16px;
	}

	a {
		color: red;
	}

	ul li {
		font-size: 14px;
	}

	p {
		color: red;
		font-size: 18px;
		font-weight:bold;
		text-align: center;
		margin:0;
		padding:0;
		margin-top: 10px;
	}
}

.band {
	@include span-columns(4);
	border: 5px solid $c-red;
	border-radius: 5px;
	text-align: center;

	p {
		margin: 0px;
	}



	h3 {
		margin: 0px;
		text-transform: uppercase;
		font-size: 1rem;
		background-color: $c-red;

		color: $c-white;
		margin: 0;
		padding: 3px 0;
	}

	h4 {
		margin: 10px 0 6px;
		font-size: 1.1rem;
	}

	.velg-container {
		height: 600px;
	}

	.band-container {
		margin: 0 auto;
		height: 410px;

		.afbeelding-merk {
			img {
				border-radius: 5px 5px 0 0;
				height: 50px;
				margin: 0;
				padding: 0;
			}

		}

		.afbeelding-band {
			position: relative;
			top: -5px;
		}

		.naam-band {
			position: relative;
			top: -15px;
		}

		.type-band {
			color: red;
		}

		.oude-prijs {
			p {
				font-size: 0.95rem;
				text-transform: uppercase;
				font-weight: bold;

			}
		}

		.nieuwe-prijs {
			background: url("../img/circle.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 43%;
			padding: 22px 0px 26px;

			p {
				color: $c-white;
				font-size: 0.95rem;
				text-transform: uppercase;
			}

			p.prijs {
				font-size: 1.6rem;
				font-weight: bold;
			}
		}


		.bg-container {
			@include outer-container;
			background-color: $c-white;
			position: relative;
			top:-17px;

			.velg {
				height: 400px;
				top:0;
			}
		}

		.klasse-container {
			@include outer-container;
			margin: 14px auto 14px auto;
			padding-left: $l-insideGutter;
			padding-right: $l-insideGutter;
			width: 185px;

			div {
				width: 31.232%;
				float: left;
				min-height: 68px;
			}
		}
	}

	.info {
		padding: 20px 0 12px;
		background-color: $c-red;

		a {
			background-color: $c-white;
			padding: 7px 15px;
			border-radius: 6px;
			color: $c-black;
			text-transform: uppercase;
			font-weight: bold;
			transition: color 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s, background 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s;
			-moz-transition: color 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s, background 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s;
			-webkit-transition: color 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s, background 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s;
			-o-transition: color 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s, background 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s;
			-ms-transition: color 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s, background 0s ease 0s, all 0.25s ease 0s, all 0s ease-in-out 0s;
		}

		a:hover {
			background-color: #f3f3f3 !important;
			text-decoration: none;
		}
	}	
} 
 
.beschrijving {
	@include span-columns(9);
//	max-width: 71%;
	margin-left: 20px;
	h3 {
		margin: 10px 0 -5px 0; 
	}
	
} 

 
/* Services */

.service, .inhoud, .inhoud p, .service p {
  font-size: 16px;
}

.inhoud img.alignleft {
	margin-right: 20px;
}

.service strong {
	font-size: 18px;
}

.service ul {
	list-style-image: url('../img/vink.png');
}

.service ul li {
	margin-bottom: 10px;
}

ol {
	list-style-image: none;
}
.boxservice {
	border: 4px solid #abaaaa;
	border-radius: 4px;
	width: 100%;
	margin-top: 20px;
	height: auto;
	overflow: hidden;
	background: white;

	.boxtitle {
		text-align: center;
		border-top: 5px solid #d8d7d7;
		width: 100%;
		padding: 10px;
		padding-top: 16px;
		font-size: 18px;
		font-weight: bold;
		position: relative;
		top: -5px;
		background: white;

	}

	img {
		width: 100%;
		background: url('/wp-content/themes/slate-0.1.0_tyrex/img/boxbg.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-size: 100%;
	}

	&:hover {
		opacity: 0.5;
	}

	ul {
		margin: 0 auto;
		font-size: 14px;
		font-weight: bold;
		color: red;
		
		li {
			font-size:16px;
		}	
	}
}

.boxcarwash {
	border: 4px solid #abaaaa;
	border-radius: 4px;
	width: 100%;
	background: url('/wp-content/themes/slate-0.1.0_tyrex/img/boxbg.png');
	background-size: contain;
	margin-top: 20px;
	height: 298px;
	position: relative;

	.boxtitle {
		text-align: center;
		border-top: 5px solid #d8d7d7;
		width: 100%;
		padding: 10px;
		font-size: 18px;
		font-weight: bold;
		position: absolute;
		bottom: 0;
		background: white;
	}

	img {
		width: 100%;
	}

	&:hover {
		opacity: 0.5;
	}

	ul {
		margin-left: 30px;
		font-size: 14px;
		font-weight: bold;
		color: red;
		list-style-image: url('../img/vink.png');
		line-height: 15px;
		
		li {
			font-size:16px;
		}	
	}
}

.carwash-price {
	width: 100%;
	text-align: right;
	font-size: 15px;
	color: red;
	font-weight:bold;
	position: absolute;
	bottom: 60px;
	right: 10px;
}

.single-service {
	.band {
		max-width: auto;
		width: auto;
		margin : 20px 40px 0px 0px;
	}
}



.single-band {
	#content {
		padding-top: 35px;
	}
}


// -------------------------------------
// Background images klasses
// -------------------------------------
.klasse-benzine, .klasse-weer {
	background-repeat: no-repeat;
}


.klasse-geluid {
	position: relative;
	p {
		position: absolute;
		top: 40px;
		right: 16px;
		font-weight: bold;
		color: $c-white;
	}
}


.klasse-geluid.soft { background: url("../img/labelsprite.png"); background-position: 192px 160px; }
.klasse-geluid.medium { background: url("../img/labelsprite.png"); background-position: 129px 241px; }
.klasse-geluid.loud { background: url("../img/labelsprite.png"); background-position: 192px 239px; }
	
.klasse-benzine.A { background: url("../img/labelsprite.png"); background-position: 76px 78px;  }
.klasse-benzine.B { background: url("../img/labelsprite.png"); background-position: 139px 78px;  }
.klasse-benzine.C { background: url("../img/labelsprite.png"); background-position: 202px 78px;  }
.klasse-benzine.D { background: url("../img/labelsprite.png"); background-position: 265px 78px;  }
.klasse-benzine.E { background: url("../img/labelsprite.png"); background-position: 319px 78px;  }
.klasse-benzine.F { background: url("../img/labelsprite.png"); background-position: 382px 78px;  }
.klasse-benzine.G { background: url("../img/labelsprite.png"); background-position: 445px 78px;  }


.klasse-weer.A { background: url("../img/labelsprite.png"); background-position: 517px 78px;  }
.klasse-weer.B { background: url("../img/labelsprite.png"); background-position: 66px 157px;  }
.klasse-weer.C { background: url("../img/labelsprite.png"); background-position: 66px 237px;  }
.klasse-weer.D { background: url("../img/labelsprite.png"); background-position: 62px -158px;  }
.klasse-weer.E { background: url("../img/labelsprite.png"); background-position: 62px -79px;  }
.klasse-weer.F { background: url("../img/labelsprite.png"); background-position: 62px 0px;  }
.klasse-weer.G { background: url("../img/labelsprite.png"); background-position: 129px 160px;  }


// ---- new style headers 
.title-wrap {
	text-align: center;
	background-image: url("../img/headerline.png");
	margin-top: 20px;
}

.line-title{
	margin: 0 auto;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center;
	font-size: 24px;
}

fieldset {
	border:0;
	border-top: 1px solid black;
}

legend {
	padding: 5px;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: bold;
}


.red-title-bar {
	border-top: 3px solid $c-red;
	padding: 0;
	margin:0;
	margin-top: 20px;
}

.red-content {
	padding: 0;
	margin:0;
	height: 100px;
	font-size: 14px;
}

.autobanden {
	width: 100%;
	overflow: auto;
}

.banden-link, .tyrex-button {
    padding: 10px 40px;
    background: #d61d23;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
	display: inline-block;
	text-align: center;
}
.cp_subbtn {
	@extend .tyrex-button;
	border: 0px solid black;
}

.tyrex-button:hover, .banden-link:hover {
  text-decoration: none;
  background: #a6191e;
}

.auto_content {
	margin-bottom: 5px;
}

.servicelist {
	width: 100%;
	overflow:auto;
}

.servicelist > .banner > img {
	width: 100%;
}

.velg-beschrijving {
	background: white;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #AAA;
}

.velg-beschrijvingalbum {
	background: white;
	border-radius: 5px;
	border: 1px solid #AAA;
	padding: 10px;
	background: url('/wp-content/themes/slate-0.1.0_tyrex/img/boxbg.png');
	background-size: contain;
}

.velg-albumtitle {
	width: 100%;
	background: $c-red;
	color: white;
	font-weight: bold;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
}

.automerk-afbeelding {
		background: url('/wp-content/themes/slate-0.1.0_tyrex/img/boxbg.png');
	background-size: contain;
}


.single-band .band {

	width: auto !important;
}
//---- /new style ---
/*.line {
	line-height: 0.8;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-bottom: 40px;
	margin-top: 55px;
}

.line span {
	display: inline-block;
	position: relative;  
	margin-right: 20px;
	margin-left: 20px;

}

.line span:before,
.line span:after {
	content: "";
	position: absolute;
	height: 8px;
	border-bottom: 1px solid #ccc;
	top: 0;
	width: 600px;
}

.line span:before {
	right: 100%;
	margin-right: 15px;
}

.line span:after {
	left: 100%;
	margin-left: 15px;
}*/
