body {
//  background: url('../img/background.png') repeat scroll 0% 0% transparent;
}



// *************************************
//
// Header
// -> Main site header
//
// *************************************

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: #000000;
}

.icon-banden {
  fill: #000000;
  width: 33px;
}


#header {
  margin: 0 auto;
  width: 100%;
  .logo {
    img {
      margin: 23px 0px 15px;
      z-index: 10;
      position: relative;
      max-width: 30%;
    }
  }
}

.home #header .logo {
  img {
    margin: 23px 0px 15px;
    z-index: 10;
    position: relative;
    max-width: 60% !important;
  }
}

#logo-header {
  position: relative;
  z-index: 2;
  @include linear-gradient(#000, #202020);
  padding: 20px;
  height: 100px;
  margin-bottom: 10px;

  .logo {
    position: relative;
    float: left;
    width: 200px;
  } 

  .menu-phone {
    float: right;
    font-size: 18px;
    color: white;
    position: relative;
    top: -15px;
    margin-right: 10px;

    .icon-telefoon {
      fill: white;
      position: relative;
      top:10px;
    }

  }
  .sub-menu {
    position: relative;
    float:right;
    color: white;

    ul {
      list-style-type: none;
      
      li {
        padding: 2px 10px;
        display: inline;
        text-transform: uppercase;
        border-right: 2px solid white;
        font-weight: bold;
        font-size: 11px;

        &:last-of-type {
          border:0;
        }
        a {
          color: white;
        }
      }
    }
  }
}
.submenu {
  margin-top:15px;
}

#phonenumber-container {
  position: relative;
  z-index: 2;
  background-color: black;

  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.2);

  #phonenumber-social {
    @include outer-container;
    max-width: 100%;
    padding-left: $l-insideGutter;
    padding-right: $l-insideGutter;

    .phonenumber {     
      @include span-columns(6); 
      float: right;

      p {
        font-size: 1.2rem;
        font-weight: 800;
        color: $c-white;
        line-height: 0px;
        float: right;
        margin: -5px 0 10px;

        svg {
          width: 25px;
          fill: $c-white;
          margin-top: 7px;
          margin-bottom: -8px;
        }
      }
    }

    .social-media {
      @include span-columns(4);

      .twitter, .fb {
        float: left;
        margin: 1px 0 -2px 0;

        svg {
          fill: $c-white;
        }
      }
    }
  }
}

#logo-menu-container {
  background-color: $c-black;
  background: url("../img/header2.svg");
  background-width: 100%;
  height: 126px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;

  #logo-menu {
    @include outer-container;
    padding-left: $l-insideGutter;
    padding-right: $l-insideGutter;  
    max-width: 80rem; 


    .logo {
      @include span-columns(6);
      height: 110px;
      width: 200px;
    }

    nav {
      @include span-columns(6);

      .Navigation-list {
        float: right;
        margin: -10px 0 0 0;
      }
    }
  }
}

#logo-menu {
  background-image: url("../img/keuze.png");
  background-size: 181px;
  background-repeat: no-repeat;
  background-position: 400px;
}

.home #logo-menu-container {
  background-color: $c-black;
  background: url('../img/header.svg') no-repeat scroll 1% 0% / 105% 190px transparent;
  height: 305px;
  position: relative;
  z-index: 1;
  margin-bottom: 66px;
}

.home #slider-container {
  margin: 0 auto;
  width: 100%;

  #slider {
    margin: -260px 0px -13px;
    background-color: $c-black;

    a {
      display: none;
    }

    .easingsliderlite {
      margin: 0 auto !important;

      .easingsliderlite-arrows {
        top: 50% !important;
      }
    }
  }
}

#slider-container {
  margin-top: -15px;
}

#logo-menu-container {
  height: 165x;
}

#slider {
  display: none;

}

.home #slider {
  display: block;
}

#social-media {
  position: fixed;
  right: -10px;
  top: 110px;
  border: 3px solid $c-white;
  border-radius: 8px;
  background-color: $c-black;
  padding: 5px 5px 0px 0;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0, 0.2);
  z-index: 88888;
  ul {
    margin: 0px;
  }

  svg {
    fill: $c-white;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .icon-mail {
    padding: 5px;
  }
}


/* Zopim plugin */
/*
.zopim {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0, 0.2);
    border-radius: 5px;
    border: 3px solid $c-white !important;
    height: 36px !important;
    bottom: -4px !important;
}

.button_text {
  padding-left: 7px !important;
}

.jx_ui_Widget {
  border: 3px solid $c-white !important;
  border-radius: 5px !important;
}
*/
