body {
  background: url('http://subtlepatterns.com/patterns/zwartevilt.png') repeat scroll 0% 0% transparent;
}



// *************************************
//
// Header
// -> Main site header
//
// *************************************

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: #000000;
}

.icon-banden {
  fill: #000000;
  width: 33px;
}


#header {
  margin: 0 auto;

  .logo {
    img {
      margin: 23px 0px 15px;
      z-index: 10;
      position: relative;
      width: 50%;
    }
  }
}

#phonenumber-container {
  position: relative;
  z-index: 2;
  background-color: $c-red;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.2);

  #phonenumber-social {
    @include outer-container;
    padding-left: $l-insideGutter;
    padding-right: $l-insideGutter;

    .phonenumber {     
      @include span-columns(6); 
      float: right;

      p {
        font-size: 1.2rem;
        font-weight: 800;
        color: $c-white;
        line-height: 0px;
        float: right;
        margin: -5px 0 10px;

        svg {
          width: 25px;
          fill: $c-white;
          margin-top: 7px;
          margin-bottom: -8px;
        }
      }
    }

    .social-media {
      @include span-columns(4);

      .twitter, .fb {
        float: left;
        margin: 1px 0 -2px 0;

        svg {
          fill: $c-white;
        }
      }
    }
  }
}

#logo-menu-container {
  background-color: $c-black;
  background: url("../img/header2.svg");
  background-size: 100% 190px;
  height: 305px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;

  #logo-menu {
  @include outer-container;
  padding-left: $l-insideGutter;
  padding-right: $l-insideGutter;   

    .logo {
      @include span-columns(6);
      height: 110px;
    }

    nav {
      @include span-columns(6);

      .Navigation-list {
        float: right;
        margin: -10px 0 0 0;
      }
    }
  }
}


.home #logo-menu-container {
  background-color: $c-black;
  background: url('../img/header.svg') no-repeat scroll 1% 0% / 105% 190px transparent;
  height: 305px;
  position: relative;
  z-index: 1;
  margin-bottom: 66px;
}

.home #slider-container {
  margin: 0 auto;
  width: 100%;

  #slider {
    margin: -260px 0px -13px;
    background-color: $c-black;

    a {
      display: none;
    }

    .easingsliderlite {
      margin: 0 auto !important;

      .easingsliderlite-arrows {
        top: 50% !important;
      }
    }
  }
}

#slider-container {
  margin-top: -15px;
}

#logo-menu-container {
  height: 135px;
}

#slider {
  display: none;
}

.home #slider {
  display: block;
}