// *************************************
//
// Logo
// -> Specific logo container
//
// *************************************

.Logo {
  display: inline-block;
}

.logo-carwash {
	display: none;
}

.page-id-16 {
	
	.logo-carwash {
		display: block;
	}

	.logo-all {
		display: none;
	}
}


// ----- Heading ----- //