.merk-lijst {
	@include clearfix;
	margin-bottom: 35px;
	padding-right: 15px;

	.merk-lijst-titel {
		width: 25%;
		padding: 4px 10px;
		border: 1px solid #aaa;
	}

	table {
		width: 100%;
	}


	a {
		color: $c-black;
		font-size: 90%;
	}
}


.merk {
	width: 31.3%;
	float: left;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 1px;
	text-align: center;
	margin-right: 1.758%;
	margin-bottom: 1.7%;

	.info {
		padding: 20px 0 12px;

		a {
			background-color: $c-white;
			padding: 7px 15px;
			border-radius: 6px;
			color: $c-black;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	.merk-afbeelding {
		background-color: #FFF;
		padding: 10px 10px 2px;
	}

	.merk-titel {
		text-align: left;


		h2 {
			font-size: 20px;
		}
	}


	.merk-beschrijving-short {
		min-height: 155px;
	}


	.merk-beschrijving-long, .merk-beschrijving-short {
		background-color: white;
		text-align: left;
		padding: 7px;	
		border-top: 1px solid #aaaaaa;
	}

	.merk-afbeelding {
		padding: 6px 10px 6px;
		border-radius: 3px 3px 0 0 ;
	}
}

.merk-title {
	position: relative;

	h3 {
		font-size: 20px;
		color: $c-black;
		margin: 0 0 4px;;
	}



	img {
		float: left;
		width: 170px;

		background-color: $c-white;
	}
}