// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "../../lib/scss/normalize/normalize";

// ----- Bourbon ----- //
@import "../../lib/scss/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "../../lib/scss/neat/neat";

// ----- Native wordpress styles ----- //
@import "../../lib/scss/wp/wp";

// ----- Override ----- //
@import "../../lib/scss/libs-override";


// -------------------------------------
// Core
// -------------------------------------

// ----- Helpers ----- //
@import "core/helpers";  

// ----- Settings ----- //
@import "core/settings";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/acties";

@import "modules/fancybox";

@import "modules/topbar";
 
@import "modules/logobar";

@import "modules/button";

@import "modules/equalheight";

@import "modules/forums";

@import "modules/header";

@import "modules/icon";

@import "modules/logo";

@import "modules/navigation";

@import "modules/responsive-nav";

@import "modules/responsive";

@import "modules/table";

@import "modules/footer";

@import "modules/banden";

@import "modules/merken";

@import "modules/sidebar";

@import "modules/ups";

@import "modules/bxslider";

// -------------------------------------
// Inbox
// -------------------------------------

.zopim {
	left: none;
   right: 10px !important;
}

.yui-calendar .calweekdaycell {
	color: #ffffff !important;
}

.stick {
    position: fixed;
    padding: 0;
    top: 0px;
    height: 70px;
}

.stick .submenu {
	margin-top: 0px;
}

.yui-calcontainer {

background-color: #FFFFFF !important;
border-radius: 5px !important;
border: 1px solid #DF0000 !important;

}

#content ul{
	list-style-image: url('../img/vink.png')
}

.meshim_widget_components_chatButton_Button{
        color: rgb(232, 0, 0) !important;

}


.meshim_widget_Widget {
        font-size: 12px !important;
}

.cardetailing-wrap {
	@include clearfix;
	border: 6px solid #C01A20;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 40px;
}
.car-detailing {
	
	
}

.cardetailing-slide {

	img {
		width: 100%;
		display: block;
	}
}

.beschrijving.inhoud{
	ul{
		list-style-image: url("../img/vink.png");
	}
}

.actie-menu{
	width:100%;
	padding: 10px 0px;
	@include linear-gradient(#d61d23, #ab171c);
	text-align: center;
	border-radius: 5px 5px 0px 0px;

	a {
		&:hover {
			text-decoration: none;
		}
	}
}

.actie-menu-color {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin: 0px 10px;
	
}
.actien-menu-active{
	background: white;
	color: black;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
}

.boxcarwash-active{
	opacity: 0.8;
	border: 3px solid #BE1A20 !important;
}



.boxcarwash-wrap:nth-of-type(3n) {
	margin-right: 0px !important;
}


a:hover {
	text-decoration: none !important;
}