// *************************************
//
// Settings
// -> Fonts, Variables
//
// *************************************

// -------------------------------------
// @font-face
// -------------------------------------

// Open Sans (normal, italic, bold, bold/italic)
@include web-fonts(("Ubuntu": ("400", "400 italic", "800", "800 italic")));

// -------------------------------------
// Variables
// -------------------------------------

// ----- Colors ----- //

$c-black : #040404;
$c-grey: #2f342e;
$c-red : #c50812;
$c-white : #ffffff;

// ----- Layout ----- //
$l-whiteSpace: 0.5rem;
$l-insideGutter: 1rem;

// Borders & Box-shadows
$l-border         : 1px solid $c-black;
$l-borderRadius   : 3px;
$l-boxShadow      : 0 1px 2px rgba($c-black, 0.25);

// ----- Text ----- //

$t-fontFamily       : 'Ubuntu', $helvetica;
$t-headerFontFamily : 'Ubuntu', $helvetica;
$t-fontSize         : 16px;
$t-lineHeight       : 1.5;
