// *************************************
//
// Settings
// -> Fonts, Variables
//
// *************************************

// -------------------------------------
// @font-face
// -------------------------------------

// Lato (normal, italic, bold, bold/italic)
@include web-fonts(("Lato": ("400", "400 italic","600", "600 italic" "800", "800 italic")));

// -------------------------------------
// Variables
// -------------------------------------

// ----- Colors ----- //

$c-black : #020202;
$c-blue  : #0070AF;
$c-white : #FFFFFF;
$c-red	 : #d61d23;
$c-white : #ffffff;

// ----- Layout ----- //
$l-whiteSpace: 0.5rem;
$l-insideGutter: 1rem;

// Borders & Box-shadows
$l-border         : 1px solid $c-black;
$l-borderRadius   : 3px;
$l-boxShadow      : 0 1px 2px rgba($c-black, 0.25);

// ----- Text ----- //

$t-fontFamily       : 'Lato', $helvetica;
$t-headerFontFamily : 'Lato', $helvetica;
$t-fontSize         : 16px;
$t-lineHeight       : 1.5;
